In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("../data/raw/Summer-Olympic-medals-1976-to-2008.csv", encoding="latin1")

df.head()

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
0,Montreal,1976.0,Aquatics,Diving,3m springboard,"KÖHLER, Christa",Women,GDR,East Germany,W,Silver
1,Montreal,1976.0,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
2,Montreal,1976.0,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
3,Montreal,1976.0,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
4,Montreal,1976.0,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze

In [2]:
df.shape
df.info()
df.nunique()
df.isnull().sum()

<class 'pandas.DataFrame'>
RangeIndex: 15433 entries, 0 to 15432
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   City          15316 non-null  str
 1   Year          15316 non-null  float64
 2   Sport         15316 non-null  str
 3   Discipline    15316 non-null  str
 4   Event         15316 non-null  str
 5   Athlete       15316 non-null  str
 6   Gender        15316 non-null  str
 7   Country_Code  15316 non-null  str
 8   Country       15316 non-null  str
 9   Event_gender  15316 non-null  str
 10  Medal         15316 non-null  str
dtypes: float64(1), str(10)
memory usage: 1.3 MB

City            117
Year            117
Sport           117
Discipline      117
Event           117
Athlete         117
Gender          117
Country_Code    117
Country         117
Event_gender    117
Medal           117
dtype: int64

#Conclusion: The dataset contains medal-level Olympic records from 1976–2008 with categorical dominance and minimal structural missing data.