In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("../data/processed/olympics_cleaned.csv")

In [4]:
df.head()
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 15316 entries, 0 to 15315
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   City                15316 non-null  str
 1   Year                15316 non-null  int64
 2   Sport               15316 non-null  str
 3   Discipline          15316 non-null  str
 4   Event               15316 non-null  str
 5   Athlete             15316 non-null  str
 6   Gender              15316 non-null  str
 7   Country             15316 non-null  str
 8   Medal               15316 non-null  str
 9   Medal_Points        15316 non-null  int64
 10  Athlete_Experience  15316 non-null  int64
 11  Country_Strength    15316 non-null  int64
dtypes: int64(4), str(8)
memory usage: 1.4 MB

In [5]:
df.groupby("Gender")["Medal_Points"].mean()

Gender
Men      1.981146
Women    1.993421
Name: Medal_Points, dtype: float64